body {
    background: #9bdbe1;
    font-family: Verdana;
    font-size: 30px;
    color: black;   
}

.main {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.boton {
    position: center;
    width: 80%;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-size: 15px;
    margin: 25px;
    top: 40%;
}

.insertar {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}