body {
    height: 400px;
    background-color:aliceblue;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: 'calibri';
}

    body.main {
        height: 400px;
        background-image: url("https://www.uleam.edu.ec/wp-content/uploads/2019/12/Entrada-Uleam.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        font-family: 'calibri';
    }

.container {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #5fbf43;
    justify-content: space-between;
}

.space{
    padding:50px;
}

.container-main {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ff0000;
    justify-content: space-between;
}
.logo {
    display: flex;
    width: 70px;
    height: 70px;
    margin-left: 17px;
    margin-top: 10px;
}

.menup {
    background: green;
    padding: 10px 30px;
}
.menu {
    color: #FFFFFF;
    padding: 10px 30px;
    background: green;
    text-decoration: none;
}
.menu:hover {
    background: #5fbf43;
}


blockquote {
    text-align: center;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    margin: auto;
}

button.boton {
    width: 80%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    font-family: 'calibri';
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 8px;
}

.control {
    width: 75%;
    background: #FFFFFF;
    padding: 10px;
    font-family: 'calibri';
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #808080;
    font-size: 18px;
    color: black;
}

.control:hover {
    background: #a2c78e;
}

.ingreso-usuario h4 {
    margin-bottom: 4px;
    font-size: 18px;
    text-align: center;
}

.ingreso-usuario h2 {
    text-align: center;
    font-size: 28px;
}

.control2 {
    width: 60%;
    background: #ffffff;
    padding: 8px;
    font-family: 'calibri';
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #808080;
    font-size: 15px;
    color: black;
}

.contro {
    width: 75%;
    background: #ffffff;
    padding: 10px;
    font-family: 'calibri';
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #808080;
    font-size: 15px;
    color: black;
}

button.boton2 {
    width: 65%;
    background: #1f53c5;
    font-family: 'calibri';
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 8px;
}

blockquote.index2 {
    text-align: center;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 35%;
    margin: auto;
}

.uleam {
    position:fixed;
    width: 150px;
    left: 80%;
    top: 15%;
}


#mvision .container1 {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    background-color: gray;
    justify-content: space-evenly;
}

#mvision .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#mvision .img-container {
    background-image: url("https://www.uleam.edu.ec/wp-content/uploads/2022/07/WhatsApp-Image-2022-07-25-at-7.27.45-AM-1024x682.jpeg");
    background-position: center center;
    height: 350px;
    width: 350px;
}

#mvision .img-container1 {
    background-image: url("https://www.ecured.cu/images/5/56/Desarrollo-social.png");
    background-position: center center;
    height: 350px;
    width: 350px;
}


#programas {
    background-color: aliceblue;
    color: black;
    text-align: center;
}
    #programas .container2 {
        padding: 150px 12px;
    }

    #programas h2 {
        margin-top: 0;
        font-size: 20px;
    }

    #programas p {
        display: none;
        font-size: 20px;
    }

    #programas h3 {
        font-size: 35px;
        margin-top: 0;
    }

    #programas .carta {
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }


#programas .programas {
    display: flex;
    justify-content: center;
}

#programas p {
    display: block;
    margin-bottom: 30px;
}

#programas h2 {
    font-size: 4em;
}

    #programas .carta {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #5fbf43;
    }


.etiqueta {
    font-size: 30px;
    font-weight: 600;
}

.insertar {
    font-size: 20px;
    line-height: 22px;
}

.des-for {
    width: 500px;
    height: 500px;
    background-color: gray;
}

.descri {
    padding: 5px;
    width: 100%;
    height: 150px;
}

.hora {
    padding: 4px;
    width: 30px;
}

.des{
    padding: 4px;
}

.des-text{
    padding:20px 40px;
}

.ver-for {
    width: 100%;
    background-color: rgba(100, 100, 100, 0.7);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.contenedor {
    font-size: 20px;
    color: #FFFFFF;
    background-color: gray;
    height: 700px;
}

.container-foot {
    display: flex;
    justify-content: space-between;
}

.foot {
    background-color: #cf2f2f;
    font-size: 20px;
    color: #FFFFFF;
}

.icon{
    margin: 16px 0;
    font-size: 30px;
    place-content: center;
}

.bar {
    background-color: #b83030;
    border: none;
    width: 100%;
    padding: 8px;
    margin: 16px 0;
    font-size: 16px;
}

.mar{
    margin: 16px 0;
}

button.botonf {
    width: 50%;
    background: #af3434;
    border: none;
    padding: 8px;
    color: white;
    margin: 4px 0;
    font-size: 14px;
    border-radius: 4px;
}

.botonf:hover {
    background: #771212;
}

.perfil{
    margin: 4px 0;
    font-size: 15px;
}

.per-us{
    text-align: center;
}




