body {
    background: #808080;
    color: white;
    font-family: Verdana;
    font-size: 18px;

}

.main {
    position: absolute;
    background: #808080;
    color: white;
    top: 55%;
    left: 45%;
    margin-top: -100px;
    margin-left: -100px;
}

.boton {
    position: absolute;
    width: 40%;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-size: 15px;
    color: black;
    margin: 25px;
    top: 40%;
    left: 20%;
}